<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="static/news-style.css">
    <title></title>
    </head>
<body>

    {% include 'hat.html' %}
    <div class="blocks">
        {% for post in posts %}
        <div class="newblock">
            <h2>{{ post.title }}</h2>
            <p>{{ post.content }}</p>

            <img src="{{post.image_data}}">


            <a href="/delete/{{ post.id }}" class="remove_button">Удалить</a>
        </div>

{% endfor %}
    </div>


{% include 'daun.html' %}
</body>
</html>